site_name: Illegitimate Humans
site_description: A Wiki-style documentation site
site_author: Montreal L. Barrett
site_url: https://www.illegitimatehumans.com

theme:
  logo: assets/logo.png
  favicon: assets/favicon.ico

  name: material
  palette:
    scheme: default      # light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.suggest
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Guides:
      - Installation: guides/installation.md
      - Usage: guides/usage.md
      - FAQ: guides/faq.md
  - Resources:
      - Downloads: resources/downloads.md
      - Links: resources/links.md
  - About: about.md

plugins:
  - search
  - awesome-pages